.CSSCodeClip_codeBlock{
    border-radius : 8px;
    overflow : auto;
}

.CSSCodeClip_pre{
    font-family : monospace;
}

.GrowingDiv{
    border-radius : 8px;
    background-color : black;
}

.CSSCodeTitle{
    max-height : 8%;
    height : 8%;
}

.CSSCopyFeature{
    max-height : 8%;
    height : 8%;
}

.CSSCodeSegment{
    border-radius : 8px;
    max-height : 84%;
    height : 84%;
    max-width : 100%;
    overflow : auto;

}



.CSSCodeSegment::-webkit-scrollbar {
    width: thin;
  }
.CSSCodeSegment::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(41, 98, 121, 0.3);
    background: rgb(88, 88, 88);
  }

.CSSCodeSegment::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 255);
    border-radius: 6px;
    border: 1px solid rgba(33, 33, 222, 255);
}

.CSSCodeSegment::-webkit-scrollbar-corner{
    background-color: rgb(88, 88, 88);
    border-radius: 0px 0px 12px 0px;
    border: 0 0 1px 0 solid rgba(33, 33, 125, 255);
}