
.color_form_flex{
    display:flex;
    flex-direction: column;
    min-height : 300px;
    max-height : 300px;
    height : 250px;
}
.color_form_title{
    height : 15%;
    max-height : 15%;
}

.palatte_properties{
    max-height : 20%;
    height : 20%;
}

.palatte_parent_flex{
    display:flex;
    max-width : 100%;
    min-width : 100%;
    min-height : 65%;
    max-height : 65%;
    background-image: url("../transparent_bg.jpg");
}





.palatte:disabled{
    opacity : 0;
}



.palatte:disabled > *{
    background-color:  transparent;
}

.palatte_property_subcontainer{
    width : 50%;
}

