.PreviewButton:active{
    position:relative;
    top:1px;
}

.PreviewButton:focus{
    outline : none;
}

.PreviewButtonCanvas{
    height: 85%;
    max-height : 85%;
    min-height: 85%;
    width : 100%;
}

.PreviewButtonSegment{
    vertical-align: top;
    height : 100% ;
    min-height: 100%;
    width : 100%;
}